*{
    margin:0;
}
body{
    font-family: arial;
    background-color: rgb(239, 239, 239);
}
a{
    color:#ffcc00;
}
header{
    background-color: black;
    color:white;
    padding:20px;
    text-align: center;
}
nav ul{
    list-style:none;
}
nav a{
    color:white;
    text-decoration: none;
}
main h2{
    font-size: 52px;
    width: 50%;
}
main p{
    font-size: 14px;
    color:#8b8b8b;
}