/*global*/
*{
    margin:0;
}
body{
    font-family: arial;
    background-color: rgb(239, 239, 239);
}
a{
    color:#ffcc00;
}
img{
    max-width:100%;
}
/*header*/
.site-header{
    background-color: black;
    color:white;
    padding:20px;
    text-align: center;
}
.menu .menu-link-container{
    list-style:none;
}
.menu-link-container{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.menu-link a{
    color:white;
    text-decoration: none;
}
.menu{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.menu-bar-flex{
    display: flex;
    justify-content: space-around;
}
.submit-btn{
    background-color: #ffcc00;
    color:black;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
/*main*/
main{
    width:80%;
    text-align: center;
    margin:100px auto 100px auto;
}
main h2{
    font-size: 52px;
    /* width: 50%; */
}
main p{
    font-size: 14px;
    color:#8b8b8b;
    margin-top:20px;
}
main img{
    margin-top: 20px;
}

/*gallery*/

.card{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
}